.individual-card-wrapper {
  height: 65vh;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 25px;
}

.bottom-button {
  margin-top: 1em;
  padding: 0.5em;
  padding-left: 0;
}
.bottom-button__read-more {
  background: white;
  cursor: pointer;
  border-radius: 10px;
  /* background-color: rgb(221, 130, 111); */
  color: rgb(black);
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid grey;
}

.bottom-button__link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  /* background-color: black; */
  padding: 1em;
}
.card-photo {
  height: 25vh;
  display: flex;
}
.card-photo__photo {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  /* display: none; */
}

.title-date__date {
  padding-right: 1em;
}
.title-date__title {
  font-size: 1.5em;
  color: rgb(90, 57, 33);
}
.card-text {
  overflow: hidden;
  max-height: 10vh;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-text__text {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.share-like {
  display: grid;
  max-width: 100%;
  grid-template-columns: 3fr 1fr 1fr;
}
.share-like__share {
  background-color: white;
  border: none;
  border-radius: 2px;
  font-size: 1em;
}
.share-like__share:hover {
  background-color: rgba(128, 128, 128, 0.479);
}
.share-like__like {
  background-color: white;
  border: none;
  border-radius: 2px;
  font-size: 1em;
}
.share-like__like:hover {
  background-color: rgba(128, 128, 128, 0.479);
}
@media screen and (max-width: 600px) {
  .individual-card-wrapper {
    height: 75vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .individual-card-wrapper {
    height: 65vh;
  }
}
