ul {
  /* padding: 0; */
  margin: 0;
}
.grid-wrapper {
  height: 100%;
  max-width: 100%;
  background-color: rgb(11, 186, 230);
}
.card-wrapper {
  /* overflow: scroll; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1em;
  max-height: 100%;
  justify-content: center;
  /* background-color: blue; */
}
.card-wrapper__li {
  box-sizing: border-box;
  /* padding: 1em; */
  padding: 1em;
  max-width: 350px;
  max-height: 80vh;
  flex-grow: 1;
  list-style-type: none;
}
.category-text {
  max-width: 100%;
  display: flex;
  font-size: 2em;
  justify-content: center;
}
.category-text__header {
  color: white;
}
.loading-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;

  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loading animation i found */

@media screen and (max-width: 600px) {
  .category-text__header {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .category-text__header {
    font-size: 1.2em;
  }
}
