ul {
  /* padding: 0; */
  margin: 0;
}
.grid-wrapper {
  max-width: 100%;
  background-color: rgb(2, 61, 105);
}
.card-wrapper {
  /* overflow: scroll; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1em;
  max-height: 100%;
  justify-content: center;
  /* background-color: blue; */
}
.card-wrapper__li {
  box-sizing: border-box;
  /* padding: 1em; */
  padding: 1em;
  max-width: 350px;
  max-height: 80vh;
  flex-grow: 1;
  list-style-type: none;
}
.category-text {
  max-width: 100%;
  display: flex;
  font-size: 2em;
  justify-content: center;
}
.category-text__header {
  color: white;
}
